joblib==1.4.2
keras==3.3.2
numpy==1.25.2
opencv-python==4.10.0.84
pandas==2.2.2
Pillow==10.4.0
python-dotenv==1.0.1
Requests==2.32.3
spotipy==2.23.0
streamlit==1.31.0
tensorflow==2.16.1
scikit-learn==1.4.2
